POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
JWT_SECRET=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://precise-built-crm.vercel.app/api/auth/google-drive/callback
