@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-syne text-zinc-100 antialiased;
    background-color: #0e0e0f;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center px-5 py-2.5 bg-brand-500 text-white font-semibold
           hover:bg-brand-600 transition-colors duration-200 text-sm rounded-lg;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center px-5 py-2.5 border border-zinc-700 text-zinc-300
           hover:bg-zinc-800 hover:border-zinc-600 transition-colors duration-200 text-sm rounded-lg;
  }
}
